
    <app-header></app-header>
    <div class="container-main">
        <nav class="navbar navbar-expand-lg navbar-light pt-5">
            <div class="container">
                <ul class="nav nav-pills me-auto mb-2" id="pillsTab" role="tablist">
                    <li class="nav-item mx-1" role="presentation">
                        <button class="nav-link" [ngClass]="{'active': selectedPill === 'All'}" id="All" data-bs-toggle="tab" data-bs-target="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true" (click)="selectPill('All')">All</button>
                    </li>
                    <li class="nav-item mx-1" role="presentation">
                        <button class="nav-link" [ngClass]="{'active': selectedPill === 'National'}" id="National" data-bs-toggle="tab" data-bs-target="#pills-national" role="tab" aria-controls="pills-national" aria-selected="false" (click)="selectPill('National')">National</button>
                    </li>
                    <li class="nav-item mx-1" role="presentation">
                        <button class="nav-link"[ngClass]="{'active': selectedPill === 'Economy'}" id="Economy" data-bs-toggle="tab" data-bs-target="#pills-national" role="tab" aria-controls="pills-national" aria-selected="false" (click)="selectPill('Economy')">Economy</button>
                    </li>
                    <li class="nav-item mx-1" role="presentation">
                        <button class="nav-link"[ngClass]="{'active': selectedPill === 'Sports'}" id="Sports" data-bs-toggle="tab" data-bs-target="#pills-national" role="tab" aria-controls="pills-national" aria-selected="false" (click)="selectPill('Sports')">Sports</button>
                    </li>
                    <li class="nav-item mx-1" role="presentation">
                        <button class="nav-link"[ngClass]="{'active': selectedPill === 'Technology'}" id="Technology" data-bs-toggle="tab" data-bs-target="#pills-national" role="tab" aria-controls="pills-national" aria-selected="false" (click)="selectPill('Technology')">Technology</button>
                    </li>
                </ul>
                <form class="mx-4">
                    <input class="form-control me-2" type="search" placeholder="Search articles..." [(ngModel)]="searchText" name="searchText" (ngModelChange)="onSearchChange($event)"/>
                </form>
                <button *ngIf="isLoggedIn() || isSessionActive" class="btn btn-primary btnCreateArticle" (click)="navigateToCreateArticle()">Create Article</button>                
            </div>
        </nav>
    
        <div *ngIf="!isLoading; else loading"  class="container mt-4 pt-4">
            <div  class="row ">
                <div *ngFor="let article of articles | articleCategoryFilter: category | articleTextFilter: searchText" class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm text-center">
                        <img *ngIf="article.thumbnail_image && article.id" [src]="'data:' + article.image_media_type + ';base64,' + article.thumbnail_image"  (click)="navigateToArticle(article.id)" alt="{{ article.title ? article.title : 'Article Image' }}"  class="card-img-top"/>
                        <div class="card-body">
                            <h5 class="card-title" *ngIf="article.id" (click)="navigateToArticle(article.id)">{{ article.title }}</h5>
                            <p class="card-text">{{ article.subtitle }}</p>
                        </div>
                        <div class="card-footer text-center bg-transparent border-top-0">
                            <button *ngIf="article.id" class="btn btn-success mb-3 mx-1" (click)="navigateToArticle(article.id)">Read More</button>
                            <button *ngIf="article.id && (isLoggedIn() || isSessionActive)" class="btn btn-danger mb-3" (click)="confirmAndRemoveArticle(article.id)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isLoggedIn() || isSessionActive" class="text-center">
                <button class="btn btn-primary btnCreateArticle" (click)="exportArticles()">Export Articles</button>
                <button class="btn btn-primary btnCreateArticle" (click)="importArticles()">Import Articles</button>
            </div>  
        </div>
    
        <ng-template #loading>
            <div class="d-flex justify-content-center">
            <div class="alert alert-primary mt-5 w-25 text-center">Loading articles list...</div>
            </div>
        </ng-template>

        <footer class="text-center mt-5">
            <p>News-Manager-Project by Gaia, Pardis and Lazar</p>
        </footer> 
    </div>